html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container-header {
    background: url('/static/img/img22.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar nav a {
    color: white;
    margin: 0 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.navbar nav a:hover {
    color: yellow;
    transform: scale(1.1);
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/static/img/img25.jpg') no-repeat center/cover;
    padding: 28px 0;
}

.container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: url('/static/img/img22.jpg') no-repeat center/cover;
}

form {
    width: 100%;
}

label {
    display: flex;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 40%;
    background-color: #66ebd7;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
button:hover { background-color: #27da6c; }

.google-btn {
    width: 80%;
    margin: 10px;
    background-color: #66ebd7;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.google-btn:hover { background-color: #27da6c; }

footer {
    background: url('/static/img/img22.jpg') no-repeat center/cover;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}